<!-- src/pages/index.astro -->
---
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="refresh" content="0; url=https://animalia-book.vercel.app/" />
    <title>Redirigiendo...</title>
  </head>
  <body class="bg-slate-800">
  </body>
</html>
