---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout title="Website in construction">
    <body class="items-center"> 
        <div class="container w-[90%] h-full flex flex-col justify-center items-center text-center p-3">
            <div class="w-1/2 mb-32" style="max-width: 200px;">
                <img src="/icons/construction.svg" alt="" class="w-[10rem] h-[10rem]" style="filter: drop-shadow(0 0 0.3rem rgb(103, 103, 103));">
            </div>
            <div class="flex flex-col justify-center items-center gap-3 h-[5rem]">
                <div class="w-full min-w-[500px] max-w-[800px] bg-slate-700 rounded-lg p-5">
                    <h1>Work In-Progress</h1>
                <p>Im working in the portfolio actually. Im trying to finish it as soon as posible.</p>
                </div>
                <div class="w-full min-w-[500px] max-w-[800px] bg-slate-700 rounded-lg p-5">
                    <h1>En progreso</h1>
                    <p>Estoy trabajando en el portfolio actualmente. Trato de tenerlo terminado lo antes posible.</p>
                </div>
            </div>
            
        </div>
    </body>
</Layout>

